.clients {
    background: $backgroundMiddle;
    padding-top: 10vh;
    padding-bottom: 10vh;

    &__container {
        text-align: center;
    }

    &__h2 {
        margin-bottom: 50px;
    }
}

.card-client {
    margin: 10px;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, .5);

    @media (min-width:$mobile) {
        padding: 40px;
    }

    &__client {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__text {
        flex: 1 1 auto;
    }

    &__img {
        flex: 0 0 50px;
    }

    &__name {
        font-size: rem(22);
        color: $titleDark;
        line-height: 1.5;
    }

    &__description {
        display: block;
        font-size: rem(14);
        color: $linkDark;
        font-weight: 700;
        text-transform: uppercase;
    }
}